body {
  margin: 0;
  padding: 0;
  font-family: OCR A Std, monospace;
  background: linear-gradient(120deg, rgb(255, 255, 255), #000000);
}
#header {
  font-size: 40px;
}

#text {
  font-size: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

* a {
  text-decoration: none;
}
.menu a {
  font-size: 20px;
  margin-left: 50px;
  color: var(--sn-color);
  position: relative;
  color: #ffffff;
  letter-spacing: 2px;
}
.menu a::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 105%;
  height: 2px;
  background-color: #cb0000;
  opacity: 0;
  transition: 0.4s;
}
.menu a:hover::after {
  opacity: 1;
  bottom: -5px;
}
.container {
  width: 100%;
  height: 110px;
  background: #000000;
}

.info-container {
  border-style: inset;
  border-width: 10px;
  border-color: black;
  width: fit-content;
  margin-bottom: 20px;
}
